<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/hibernate</property>
        <property name="hibernate.connection.username">postgres</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
        <property name="show_sql">false</property>

        <property name="hibernate.jdbc.batch_size">1000</property>
        <property name="hibernate.order_inserts">true</property>
        <property name="hibernate.order_updates">true</property>
        <property name="hibernate.jdbc.batch_versioned_data">true</property>
        <!-- auto create and update schema -->
        <property name="hibernate.hbm2ddl.auto">create</property>

        <!-- mappings -->
        <mapping class="com.pp.hibernate.model.Actor"></mapping>
        <mapping class="com.pp.hibernate.model.Director"></mapping>
        <mapping class="com.pp.hibernate.model.Movie"></mapping>
        <mapping class="com.pp.hibernate.model.Movie2Actor"></mapping>
        <mapping class="com.pp.hibernate.model.Movie2Director"></mapping>
        <mapping class="com.pp.hibernate.model.U2Base"></mapping>
        <mapping class="com.pp.hibernate.model.User"></mapping>
    </session-factory>
</hibernate-configuration>